## 準備運動

In [1]:
'stressed'[::-1]

'desserts'

In [2]:
'パタトクカシーー'[::2]

'パトカー'

In [3]:
c = ''
for a,b in zip('パトカー','タクシー'):
    c = c + a + b
c

'パタトクカシーー'

In [4]:
b = ''
A = 'Hi He Lied Because Boron Could Not Oxidize Fluorine. New Nations Might Also Sign Peace Security Clause. Arthur King Can'
nums = [1, 5, 6, 7, 8, 9, 15, 16, 19]
t = 1
for a in A.split():
    if t in nums:
        b = b + a[0]
    t = t+1
b

'HBCNOFPSK'

In [5]:
def myngram(tango, n, mozi=True):
    ans = []
    if mozi:
        tango = tango.replace(' ', '')
        for ind in range(0,len(tango)):
            if len(tango[ind:(ind+n)]) != n:
                break
            ans.append(tango[ind] + tango[ind+n-1])
    else:
        tangos = tango.split()
        for ind in range(0,len(tangos)):
            if len(tangos[ind:(ind+n)]) != n:
                break
            ans.append(tangos[ind] + ' ' + tangos[ind + n - 1])
    return ans

myngram('I am an NLPer', 2)

['Ia', 'am', 'ma', 'an', 'nN', 'NL', 'LP', 'Pe', 'er']

In [6]:
myngram('I am an NLPer', 2, False)

['I am', 'am an', 'an NLPer']

In [7]:
a = myngram('paraparaparadise', 2)
a_s = set(a)
b = myngram('paragraph', 2)
b_s =  set(b)
a_s

{'ad', 'ap', 'ar', 'di', 'is', 'pa', 'ra', 'se'}

In [8]:
b_s

{'ag', 'ap', 'ar', 'gr', 'pa', 'ph', 'ra'}

In [9]:
a_s.union(b_s)

{'ad', 'ag', 'ap', 'ar', 'di', 'gr', 'is', 'pa', 'ph', 'ra', 'se'}

In [10]:
a_s.intersection(b_s)

{'ap', 'ar', 'pa', 'ra'}

In [11]:
a_s.difference(b_s).union(b_s.difference(a_s))

{'ad', 'ag', 'di', 'gr', 'is', 'ph', 'se'}

In [12]:
def str_1(x, y ,z):
    return str(x) + 'の時の' + str(y) + 'は' + str(z)

In [13]:
str_1('トマト','ナス','カボチャ')

'トマトの時のナスはカボチャ'

In [14]:
def cipher(a):
    komozi = [chr(i) for i in range(97, 97+26)]
    if a in komozi:
        a = chr(219 - ord(a)); 
    return a

In [15]:
cipher('w')

'd'

In [16]:
import random

def Typoglycemia(a):
    a = a.split()
    c = ''
    for b in a:
        if len(b) > 4:
            b_start = b[0]
            b_last = b[len(b)-1]
            b_nakami_num = random.sample(range(1,len(b)-1),len(b)-2)
            b_nakami = ''.join([b[i] for i in b_nakami_num])
            b = b_start + b_nakami + b_last
            c = c + ' ' + b
        else:
            c = c + ' ' + b
    return c.lstrip(" ")

In [17]:
Typoglycemia("I couldn't believe that I could actually understand what I was reading : the phenomenal power of the human mind .")

"I cnou'dlt bleveie that I cluod alluctay utdnsraend what I was rneaidg : the pnemoenhal pweor of the haumn mind ."

## UNIXコマンドの基礎

In [18]:
f = open('hightemp.txt')
data1 = f.read()  # ファイル終端まで全て読んだデータを返す
f.close()

In [19]:
import pandas as pd
data2 = pd.read_table('hightemp.txt',header=None)
len(data2)

24

In [20]:
data1.replace('\t', ' ')

'高知県 江川崎 41 2013-08-12\n埼玉県 熊谷 40.9 2007-08-16\n岐阜県 多治見 40.9 2007-08-16\n山形県 山形 40.8 1933-07-25\n山梨県 甲府 40.7 2013-08-10\n和歌山県 かつらぎ 40.6 1994-08-08\n静岡県 天竜 40.6 1994-08-04\n山梨県 勝沼 40.5 2013-08-10\n埼玉県 越谷 40.4 2007-08-16\n群馬県 館林 40.3 2007-08-16\n群馬県 上里見 40.3 1998-07-04\n愛知県 愛西 40.3 1994-08-05\n千葉県 牛久 40.2 2004-07-20\n静岡県 佐久間 40.2 2001-07-24\n愛媛県 宇和島 40.2 1927-07-22\n山形県 酒田 40.1 1978-08-03\n岐阜県 美濃 40 2007-08-16\n群馬県 前橋 40 2001-07-24\n千葉県 茂原 39.9 2013-08-11\n埼玉県 鳩山 39.9 1997-07-05\n大阪府 豊中 39.9 1994-08-08\n山梨県 大月 39.9 1990-07-19\n山形県 鶴岡 39.9 1978-08-03\n愛知県 名古屋 39.9 1942-08-02\n'

In [21]:
data2[0].to_csv('col1.txt',header=False)
data2[1].to_csv('col2.txt',header=False)

In [22]:
tmp1 = pd.read_table('col1.txt', header=None, delimiter=',')
tmp2 = pd.read_table('col2.txt', header=None, delimiter=',')

In [23]:
pd.concat([tmp1[1],tmp2[1]], axis=1)

       1     1
0    高知県   江川崎
1    埼玉県    熊谷
2    岐阜県   多治見
3    山形県    山形
4    山梨県    甲府
5   和歌山県  かつらぎ
6    静岡県    天竜
7    山梨県    勝沼
8    埼玉県    越谷
9    群馬県    館林
10   群馬県   上里見
11   愛知県    愛西
12   千葉県    牛久
13   静岡県   佐久間
14   愛媛県   宇和島
15   山形県    酒田
16   岐阜県    美濃
17   群馬県    前橋
18   千葉県    茂原
19   埼玉県    鳩山
20   大阪府    豊中
21   山梨県    大月
22   山形県    鶴岡
23   愛知県   名古屋

In [24]:
n = input('指定行数読み込みます ')
data2[:int(n)]

指定行数読み込みます 3

     0    1     2           3
0  高知県  江川崎  41.0  2013-08-12
1  埼玉県   熊谷  40.9  2007-08-16
2  岐阜県  多治見  40.9  2007-08-16

In [25]:
n = input('指定行数 末尾から読み込みます ')
data2[len(data2)-int(n):]

指定行数 末尾から読み込みます 3

      0    1     2           3
21  山梨県   大月  39.9  1990-07-19
22  山形県   鶴岡  39.9  1978-08-03
23  愛知県  名古屋  39.9  1942-08-02

In [26]:
n = input("分割すうを指定")
tmp = data2
nums = len(tmp)
num_len = nums/int(n)
num_start = 0
num_end = num_len
for i in range(int(n)):
    print(tmp[int(num_start):int(num_end)])
    num_start += num_len
    num_end += num_len

分割すうを指定3
      0     1     2           3
0   高知県   江川崎  41.0  2013-08-12
1   埼玉県    熊谷  40.9  2007-08-16
2   岐阜県   多治見  40.9  2007-08-16
3   山形県    山形  40.8  1933-07-25
4   山梨県    甲府  40.7  2013-08-10
5  和歌山県  かつらぎ  40.6  1994-08-08
6   静岡県    天竜  40.6  1994-08-04
7   山梨県    勝沼  40.5  2013-08-10
      0    1     2           3
8   埼玉県   越谷  40.4  2007-08-16
9   群馬県   館林  40.3  2007-08-16
10  群馬県  上里見  40.3  1998-07-04
11  愛知県   愛西  40.3  1994-08-05
12  千葉県   牛久  40.2  2004-07-20
13  静岡県  佐久間  40.2  2001-07-24
14  愛媛県  宇和島  40.2  1927-07-22
15  山形県   酒田  40.1  1978-08-03
      0    1     2           3
16  岐阜県   美濃  40.0  2007-08-16
17  群馬県   前橋  40.0  2001-07-24
18  千葉県   茂原  39.9  2013-08-11
19  埼玉県   鳩山  39.9  1997-07-05
20  大阪府   豊中  39.9  1994-08-08
21  山梨県   大月  39.9  1990-07-19
22  山形県   鶴岡  39.9  1978-08-03
23  愛知県  名古屋  39.9  1942-08-02

In [27]:
data2[-data2[0].duplicated()][0]

0      高知県
1      埼玉県
2      岐阜県
3      山形県
4      山梨県
5     和歌山県
6      静岡県
9      群馬県
11     愛知県
12     千葉県
14     愛媛県
20     大阪府
Name: 0, dtype: object

In [28]:
data2.sort_values(2,ascending=False)

       0     1     2           3
0    高知県   江川崎  41.0  2013-08-12
2    岐阜県   多治見  40.9  2007-08-16
1    埼玉県    熊谷  40.9  2007-08-16
3    山形県    山形  40.8  1933-07-25
4    山梨県    甲府  40.7  2013-08-10
5   和歌山県  かつらぎ  40.6  1994-08-08
6    静岡県    天竜  40.6  1994-08-04
7    山梨県    勝沼  40.5  2013-08-10
8    埼玉県    越谷  40.4  2007-08-16
9    群馬県    館林  40.3  2007-08-16
10   群馬県   上里見  40.3  1998-07-04
11   愛知県    愛西  40.3  1994-08-05
14   愛媛県   宇和島  40.2  1927-07-22
12   千葉県    牛久  40.2  2004-07-20
13   静岡県   佐久間  40.2  2001-07-24
15   山形県    酒田  40.1  1978-08-03
16   岐阜県    美濃  40.0  2007-08-16
17   群馬県    前橋  40.0  2001-07-24
18   千葉県    茂原  39.9  2013-08-11
19   埼玉県    鳩山  39.9  1997-07-05
20   大阪府    豊中  39.9  1994-08-08
21   山梨県    大月  39.9  1990-07-19
22   山形県    鶴岡  39.9  1978-08-03
23   愛知県   名古屋  39.9  1942-08-02

In [29]:
data2[0].value_counts()

埼玉県     3
山形県     3
山梨県     3
群馬県     3
愛知県     2
千葉県     2
岐阜県     2
静岡県     2
愛媛県     1
高知県     1
和歌山県    1
大阪府     1
Name: 0, dtype: int64

## 正規表現

In [ ]:
import codecs
json_df = pd.read_json('jawiki-country.json', lines=True)